{% extends "base.html" %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div class="{{ 'alert alert-danger alert-error' }}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <h1 class="col-sm-6 col-sm-offset-3 well">Login</h1>
    <div class="col-sm-6 col-sm-offset-3 well">
        <div class="row">
            <form action="submit_login_form" method="post">
                {% csrf_token %}
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Email Address</label>
                        <input id="email" name="email" type="text" placeholder="Enter Email Address Here.." class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input id="password" name="password" type="password" placeholder="Enter Password Here.."
                               class="form-control">
                    </div>
                    <button type="submit" class="btn btn-lg btn-info">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}