{% extends "base.html" %}

{% block content %}
    <div class="col-lg-12">
        <div class="row">
            <h1>Upcoming Trips</h1>
            <div class="col-lg-10 col-lg-offset-1 centered table-responsive table-bordered">
                <table class="table table-responsive table-hover">
                    <tr>
                        <th>Departure City</th>
                        <th>Arrival City</th>
                        <th>Departure Date</th>
                        <th>Arrival Date</th>
                        <th>Reserved Seat</th>
                    </tr>
                    {% for trip in upcoming_trips %}
                        <tr>
                            <td>{{ trip.departure_city }}</td>
                            <td>{{ trip.arrival_city }}</td>
                            <td>{{ trip.departure_date | time }} on {{ trip.departure_date | date }}</td>
                            <td>{{ trip.arrival_date | time }} on {{ trip.arrival_date | date }}</td>
                            <td>{{ trip.seat }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="row">
            <h1>Past Trips</h1>
            <div class="col-lg-10 col-lg-offset-1 centered table-responsive table-bordered">
                <table class="table table-responsive table-hover">
                    <tr>
                        <th>Departure City</th>
                        <th>Arrival City</th>
                        <th>Departure Date</th>
                        <th>Arrival Date</th>
                        <th>Reserved Seat</th>
                    </tr>
                    {% for trip in past_trips %}
                        <tr>
                            <td>{{ trip.departure_city }}</td>
                            <td>{{ trip.arrival_city }}</td>
                            <td>{{ trip.departure_date | time }} on {{ trip.departure_date | date }}</td>
                            <td>{{ trip.arrival_date | time }} on {{ trip.arrival_date | date }}</td>
                            <td>{{ trip.seat }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <!-- /.row -->

{% endblock content %}